__pycache__
.venv
.env
.env_dev
.env_prod
.vscode

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
**/media/certs/
**/media/dkdms/
**/media/output/
**/staticfiles/admin/
**/staticfiles/rest_framework/
temp.py
test.rest
*.pem
!public_leaf.pem
*.key
*.crt
